---
layout: default
title: Home
---

<div class="Categories">
  <p class="Categories-item Categories-item--blue">tout</p>
  <p class="Categories-item Categories-item--pink">institutionnel</p>
  <p class="Categories-item Categories-item--yellow">publicité</p>
  <p class="Categories-item Categories-item--green">magazine | documentaire</p>
</div>

<div class="Images">
  {% for video in site.videos %}
    <a class="ImageContainer Video--{{ video.category }}"
       href="{{ video.url }}"
       style="background-image: url('/assets/images/{{ video.image }}')">
      <div class="Overlay">
        {% include video_description.html title=video.title
                                          client=video.client
                                          category=video.category
                                          position=video.position %}
      </div>
    </a>
  {% endfor %}
</div>

<script src="{{ base.url | prepend: site.url }}/assets/js/filterCategories.js"></script>
