.Categories {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  flex-direction: column;

  @media (min-width: 720px) {
    flex-direction: row;
    font-size: 1.5rem;
  }

  &-item {
    margin: 0 0 0.8rem 2rem;
    text-align: right;
    cursor: pointer;
    transition: all .4s cubic-bezier(.215,.61,.355,1);

    &--pink {

      &:hover {
        color: $pink;
      }

      &.Category--active {
        color: $pink;
      }
    }

    &--yellow {

      &:hover {
        color: $yellow;
      }

      &.Category--active {
        color: $yellow;
      }
    }

    &--green {

      &:hover {
        color: $green;
      }

      &.Category--active {
        color: $green;
      }
    }

    &--blue {

      &:hover {
        color: $blue;
      }

      &.Category--active {
        color: $blue;
      }
    }
  }
}
