@font-face {
  font-family: 'Lelo';
  src :url(../fonts/lelo-medium.otf);
}

@font-face {
  font-family: 'Lelo';
  src :url(../fonts/lelo-light.otf);
  font-weight: light;
}

@font-face {
  font-family: 'Lelo';
  src :url(../fonts/lelo-black.otf);
  font-weight: bold;
}
