.images {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: calc(100%/2);
  max-height: 200px;
  object-fit: cover;
}

@media (min-width: 720px) {
  .image {
    width: calc(100%/3);
  }
}

@media (min-width: 960px) {
  .image {
    width: calc(100%/3);
    max-height: 300px;
  }
}
